.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

/.idea/
EngineeringKitchen.iml
Engineering-Kitchen.iml
*.log
/gradle/

app.iml
src/androidTest/
./.idea/
./EngineeringKitchen.iml

